<body style="background-repeat: no-repeat; background-size: 70% 100%;
;background-image: url(https://img.jakpost.net/c/2016/08/18/2016_08_18_10003_1471514391._large.jpg)">
 <div style="padding-left:70%;">


<div  style="width:600px;; background-color: white;height: 100%;">
      <h1 class="text-center mb-3">
        <div style="padding-top: 150px; padding-left:80px;">
          <h2 style="font-size: 30px;color: black;">FILL YOUR DETAILS</h2>

  
        </div>
  
      </h1>
      <form action="/register" method="POST">
     

        <div class="form-group"  style="padding-top: 5px; padding-bottom: 15px;padding-left: 68px;">
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            style="text-align:center;border-radius: 15px; border:2px solid #D0D0D0 ;background-color:white;height: 50px;width:350px	" 

            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        
        <div class="form-group"  style="padding-top: 5px; padding-bottom: 15px;padding-left: 68px;">
          <input
            type="email"
            id="email"
            name="email"
            style="text-align:center;border-radius: 15px; border:2px solid #D0D0D0 ;background-color:white;height: 50px;width:350px	" 

            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
       
        <div class="form-group"  style="padding-top: 5px; padding-bottom: 15px;padding-left: 68px;">
          <input
            type="password"
            id="password"
            name="password"
            style="text-align:center;border-radius: 15px; border:2px solid #D0D0D0 ;background-color:white;height: 50px;width:350px	" 

            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
         
        <div class="form-group"  style="padding-top: 5px; padding-bottom: 15px;padding-left: 68px;">
          <input
            type="password"
            id="password2"
            name="password2"
            style="text-align:center;border-radius: 15px; border:2px solid #D0D0D0 ;background-color:white;height: 50px;width:350px	" 

            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <div style="padding-left: 68px;padding-top: 20px;">

          <button style="height:40px;color:white;border-radius:30px;border:1px solid  #F4A460 ;width: 350px; background-color: #F4A460;"> 
Register          </button>
        </div>
      </form>
      <p style="color: #ec5f5f; padding-left: 150px;"class="lead mt-4">Have An Account? <a style="color: #F4A460;" href="/">Login</a></p>
    </div>
  </div>

    
  </body>


